Source: git-hierarchy
Section: misc
Priority: extra
Maintainer: Michal Maruska <mmaruska@gmail.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.2

Package: git-hierarchy
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, git, gitk (>=1:2.19.1-1-maruska2), zsh, mmc-shell, graphviz
Suggested: graphviz
Conflicts: mmc-shell (<< 2.14)
Description: Tools to maintain extensions for upstream, in git
